<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RAM</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <div class="navbar">
        <div class="navbar-brand">
          <img src="https://www.iamcooking.co.za/app/webroot/files/user/full/f5ff1_Default_Logo.png" alt="" width="112" height="28">
        </div>
        <div class="navbar-end">
          <div class="buttons">
            <a class="navbar-item button" href="{% url 'ram' %}"> RAM </a>
            <a class="navbar-item button" href="{% url 'load' %}"> Load OS</a>
          </div>
        </div>
      </div>
      <div class="box">
        <h1 class="title">
          Информация об оперативной памяти
        </h1>
        <hr>
        <p class="subtitle">
          Всего памяти: {{total_ram}}
        </p>
        <p class="subtitle">
          Доступно памяти: {{available_ram}}
        </p>
        <p class="subtitle">
          Используется памяти: {{used_ram}}
        </p>
        <p class="subtitle">
          Свободно памяти: {{free_ram}}
        </p>
      </div>
    </div>
  </section>
  </body>
</html>